html,body
{
    padding:0;
    margin:0;
    height:100%;
}
a
{
    text-decoration:none;
}
.a2
{
	color:white;
}
a:link,a2:hover
{
    color:white;
}
#html
{  position: relative;
    width:1200px;
    height:630px;
    margin:0 auto;
    text-align:center;
}
#main
{  position: relative;
    width:1200px;
    height:3033px;
    overflow:hidden;
    margin:0 auto;
	background-image: url(../images/bg-pattern.gif);
    background-size: 1200px 100%;
    box-shadow:-1px 1px 30px grey;
}
#leftMenu
{
    position: absolute;
    width:1200px;
    height:630px;
    top:0;
    left:-1600px;
    background: #ff6866;
    color:white;
    transition:0.8s;
    z-index: 7;
}
         #menu_title
         {
           position: absolute;
           width:310px;
           height:50px;
           top:20px;
           font-size:22px;
           font-weight:bold;
           letter-spacing:10px;
         }
        .big_font
         {
           position: absolute;
           width:800px;
           left:0;
           right:0;
           font-size:80px;
           font-weight:bold;
           margin:10px auto;
         }
         .big_font:hover
         {
         cursor: pointer;
         color: #991726;
         }
      .aHover:hover
       {
         color: #991726;
     }
         #exit
         {
            position:absolute;
            width:20px;
            height:20px;
            top:23px;
            right:85px;
            background-image:url("../images/exit.gif");
            background-size:20px 20px;
         }
         #menu_list1
         {
           top:10px;
         }
         #menu_list2
         {
          top:80px;
         }
        #menu_list3
        {
          top:150px;
        }
       #menu_list4
       {
         top:220px;
       }
       #menu_list5
       {
         top:290px;
       }
       #menu_list6
       {
        top:360px;
       }
       #menu_list7
       {
           position: absolute;
           top:540px;
           width:1200px;
           font-size: 20px;
           font-weight:bold;
       }
       #menuBottom
       {
           position: absolute;
           top:580px;
           left:538px;
           width:124px;
           height:20px;
       }
       #menuBottom div
       {
           float:left;
           width:30px;
           height:28px;
           background-image: url("../images/icon.gif");
           background-size: 120px 28px;
           background-repeat:no-repeat;
       }
       #menuBottom1
       {
           left:0px;
           background-position:0%;
       }
       #menuBottom2
       {
           left:0px;
           background-position:31%;
       }
       #menuBottom3
       {
           left:0px;
           background-position:62%;
       }
       #menuBottom4
       {
           left:0px;
           background-position:93%;
       }
#header
{
    position: fixed;
    left:0;
    right:0;
    margin:0 auto;
    width:1200px;
    height:50px;
    background: white;
    opacity:0.9;
    z-index: 4;
}
       #a1
       {
           color:black;
       }
       #header div
       {
           position: absolute;
           font-weight:bold;
       }
       #title
       {
           top:16px;
           left:0;
           width:294px;
           height: 34px;
           font-size:19px;
           letter-spacing: 8px;
           font-weight:bold;
       }

       #title_1
       {
           top:16px;
           left:460px;
           width:72px;
           height: 34px;
           font-size:14px;
       }
       #title1_hover
       {
           position: absolute;
           bottom:0;
           left:-3px;
           width: 77px;
           height:4px;
           display: none;
           background: red;
       }
       #title_2
       {
            top:16px;
            left:565px;
            width:64px;
            height: 34px;
            font-size:14px;
       }
       #title2_hover
       {
           position: absolute;
           bottom:0;
           left:-4px;
           width: 72px;
           height:4px;
           display: none;
           background: red;
       }
       #title_3
       {
            top:16px;
            left:660px;
            width:104px;
            height: 34px;
            text-align: left;
            font-size:14px;
       }
              #INDUSTRIES
             {
                  position: absolute;
                  top:-18px;
               width:100px;
               height: 40px;
             }
              #industries_menu
              {
                  position: absolute;
                  top:4px;
                  right:4px;
                  width:7px;
                  height:7px;
                  border:1px solid grey;
                  border-top:0;
                  border-right:0;
                  transform-origin:50% 50%;
                  transform:rotate(-45deg);
              }

              #title_3Menu
             {
                 width:220px;
                 height:330px;
                 top:33px;
                 left:-110px;
                 background: white;
                 display:none;
             }
             .title_3
             {
              width:200px;
              height:10px;
              left:10px;
              font-size:13px;
              text-align:right;
              }

              #t3_1
              {
                  top:10px;
              }
              #t3_2
              {
                 top:45px;
              }
              #t3_3
              {
                  top:80px;
              }
              #t3_4
              {
                  top:115px;
              }
              #t3_5
              {
                  top:150px;
              }
              #t3_6
              {
                  top:185px;
              }
             #t3_7
              {
                  color:grey;
                  top:220px;
              }
              #t3_8
              {
                  color:grey;
                  top:255px;
              }
       #return
       {
           top:16px;
           left:948px;
           width:130px;
           height: 34px;
           text-align: right;
           font-size:13px;
           transition:0.3s;
       }
              #return_icon
              {
                  position: absolute;
                  top:4px;
                  left:9px;
                  width:10px;
                  height:7px;
              }
                 #return_icon1
                 {
                     position: absolute;
                     top:0px;
                     left:0px;
                     width:7px;
                     height:7px;
                     border:1px solid black;
                     border-top:0;
                     border-right:0;
                     transform-origin:50% 50%;
                     transform:rotate(45deg);
                 }
                 #return_icon2
                 {
                     position: absolute;
                     top:0px;
                     left:0px;
                     width:9px;
                     height:4px;
                     border:1px solid black;
                     border-top:0;
                     border-left:0;
                     border-right:0;
                 }

       #oLeftMenu
       {
           top:16px;
           left:1090px;
           width:24px;
           height: 22px;
           overflow: hidden;
       }
             #oLeftMenu_2
             {
                 width:24px;
                 height:12px;
                 margin:2px 0;
                 border:3px solid black;
                 border-left:0;
                 border-right:0;
             }
             #oLeftMenu_2:hover
             {
                 transform:scale(1.4);
             }
             #oLeftMenu_1
             {
                 top:0;
                 width:24px;
                 height:8px;
                 margin:2px 0;
                 border:3px solid black;
                 border-left:0;
                 border-right:0;
                 border-top:0;
             }
#header_pic
{
    width:1200px;
    height:444px;
    background-image:url(../images/header.jpg);
    background-size: 1200px 444px;
    background-repeat: no-repeat;
    z-index: 1;
}
#header_text
{   position: absolute;
    top:364px;
    left:90px;
    width:1020px;
    height: 400px;
    background: white;
    box-shadow:40px 35px 120px grey;
    z-index: 2;
}
        #header_text div
        {
            position: absolute;
        }
        #header_textTitle
        {
            top:9px;
            left:50px;
            line-height: 7px;
            text-align:left;
        }
        #header_text1
        {
            top:110px;
            left:50px;
            width: 530px;
            height: 240px;
            font-size: 13px;
            text-align:left;
            line-height: 25px;
        }
        #header_text2
        {
            top:60px;
            right:50px;
            width: 530px;
            height: 240px;
            font-size: 13px;
            text-align:right;
            line-height: 23px;
        }
        .h_title
        {
            font-weight: bold;
        }
        .h_line
        {
            text-decoration:underline;
        }
        .logo
        {
            float:right;
            width:30px;
            height:26px;
            background-size: 90px 26px;
            background-repeat: no-repeat;
        }
        #logo1{
            background-image:url(../images/logo.png);
            background-position: 100% 100%;
        }
        #logo2
        {
            background-position: 50% 100%;
           background-image:url(../images/logo.png);
        }
        #logo3
        {
         background-image:url(../images/logo.png);
        }
#center_pic
{
    position: absolute;
    top:864px;
    left:90px;
    width:1020px;
    height: 475px;
    background-image: url(../images/center.jpg);
    background-size: 1200px 475px;
    z-index: 1;
}
#center_text
{   position: absolute;
    top:1339px;
    left:90px;
    width:1020px;
    height: 475px;
    background: white;
    box-shadow:30px 20px 130px grey;
    z-index: 2;
}
       #cText_title
       {
           position: absolute;
           top:-46px;
           width:610px;
           height:490px;
           font-size: 22px;
           font-weight: bold;
           background: white;
           line-height:55px;
       }
       #center_text1
       {
           position: absolute;
           top:30px;
           left:45px;
           width:645px;
           height:340px;
           font-size: 12px;
           font-weight: bold;
           background: white;
           text-align: left;
           line-height:28px;
       }
       #center_text2
       {
           position: absolute;
           top:30px;
           right:20px;
           width:260px;
           height:340px;
           font-size: 15px;
           font-weight: bold;
           background: white;
           text-align: left;
           line-height:19px;
       }
#carousel
{
    position: absolute;
    top:1914px;
    left:-1200px;
    width:7200px;
    height: 445px;
    z-index: 2;
    transition:0.5s;
    box-shadow:30px 20px 130px grey;
}
        .img
        {
            float:left;
            width:1200px;
            height:445px;
            z-index: 2;
        }
        #btn_1
        {
            position: absolute;
            left:1200px;
            top:180px;
            width:100px;
            height:50px;
            background: white;
            z-index: 3;
        }
           #btnLogo1_1
          {
             position: absolute;
               top:20px;
               left:25px;
               width:10px;
               height:10px;
               border:2px solid grey;
               border-top:0;
               border-right:0;
               transform-origin:50%;
               transform:rotate(45deg);
          }
           #btnLogo1_2
          {
               position: absolute;
               top:15px;
               left:25px;
               width:50px;
               height:10px;
               border:2px solid grey;
               border-top:0;
               border-left:0;
               border-right:0;
          }
        #btn_2
        {
            position: absolute;
            left:2300px;
            top:180px;
            width:100px;
            height:50px;
            background:white;
            z-index: 3;
        }
          #btnLogo2_1
          {
              position: absolute;
              top:20px;
              right:25px;
              width:10px;
              height:10px;
              border:2px solid grey;
              border-left:0;
              border-bottom:0;
              transform-origin:50%;
              transform:rotate(45deg);
          }
          #btnLogo2_2
          {
              position: absolute;
              top:15px;
              right:25px;
              width:50px;
              height:10px;
              border:2px solid grey;
              border-top:0;
              border-left:0;
              border-right:0;
          }
#bottom_pic
{
    position: absolute;
    top:2509px;
    left: 0;
    width:1100px;
    height: 270px;
}
      #bottom_pic1
      {   position: absolute;
          top:0;
          left:0;
          width:185px;
          height:270px;
          background: black;
          color:white;
          font-size:24px;
          text-align: left;
      }
      #bottomPicText
      {
          position: absolute;
          left:40px;
          font-weight:bold;
      }
      #bottomPicSign
      {
          position: absolute;
          top:220px;
          left:40px;
          width:100px;
          height:50px;
          font-weight:bold;
      }
      #bottomPicSign1
      {
      position: absolute;
       top:5px;
       left:37px;
       width:10px;
       height:10px;
       border:2px solid grey;
       border-left:0;
       border-bottom:0;
       transform-origin:50%;
       transform:rotate(45deg);
      }
      #bottomPicSign2
      {
    position: absolute;
    top:0px;
    left:0px;
    width:50px;
    height:10px;
    border:2px solid grey;
    border-top:0;
    border-left:0;
    border-right:0;
      }
      #bottomImg
      {
          position: absolute;
          top:0;
          left:185px;
          width:915px;
          height: 270px;
          z-index: 1;
      }
      .bottomImg
      {
          position: absolute;
          top:0;
          width: 305px;
          height: 270px;
          overflow: hidden;
          z-index: 1;
      }
      #bottomImg1
      {
          left:0px;
      }
      #bottomImg2
      {
          left:305px;
      }
      #bottomImg3
      {
          left:610px;
      }
      .bottomImgInner
      {
          width:305px;
          height:290px;
          background-size: 305px 270px;
          transition:0.5s;
          z-index: 1;
      }
      .bottomImgInner:hover
      {
          transform:scale(1.1);
      }
      #bottom_pic2
      {

          background-image: url(../images/work-thumb-3.jpg);

      }
      #bottom_pic3
      {
         background-image: url(../images/THUMB_neaq_ret.jpg);
      }
      #bottom_pic4
      {
         background-image: url(../images/THUMB_life_ret.jpg);
      }
      .bottomPic1
      {
         position: absolute;
         top:230px;
         left:20px;
          width:20px;
          height:10px;
          border:2px solid white;
          border-left:0;
          border-top: 0;
          border-right:0;
          z-index: 2;
      }
      .bottomPic2
      {
          position: absolute;
          top:231px;
          left:19px;
          width:10px;
          height:20px;
          border:2px solid white;
          border-left:0;
          border-top: 0;
          border-bottom:0;
          transition:0.2s;
          transform-origin:85% 45%;
          z-index: 4;

      }
      .bottomPic3 {
          position: absolute;
          top:267px;
          left:0px;
          width:305px;
          height:0px;
          background: #da4c47;
          font-weight: bold;
          color:white;
          line-height:45px;
          text-align: right;
          transition:0.2s;
          z-index: 3;
      }
      .bIText
      {   position: absolute;
          top:0px;
          left:0px;
          width:280px;
          height:52px;
      }
      #btP3
      {
          line-height:20px;
      }
#footer
{
    position: absolute;
    top:2779px;
    left: 0;
    width: 950px;
    height:250px;
    background:black;
    z-index:1;
}
     #footer div
     {
       position:absolute;
       color:white;
     }
     #footer1
     {
       top:70px;
       left:90px;
       font-size:22px;
       font-weight:bold;
       letter-spacing:10px;
     }
      #footer2
      {
       top:110px;
       left:88px;
       width:124px;
       height:20px;
       font-size:22px;
       font-weight:bold;
       letter-spacing:10px;
       }
       #footer2 div
       {
        width:30px;
        height:28px;
        background-image: url("../images/icon.gif");
        background-size: 120px 28px;
        background-repeat:no-repeat;
       }
       #icon1
       {
         left:0px;
         background-position:0%;
       }
       #icon2
       {
         left:31px;
         background-position:31%;
       }
       #icon3
       {
         left:62px;
         background-position:62%;
       }
      #icon4
      {
         left:93px;
         background-position:93%;
      }
      #footer3
      {
         top:182px;
         left:88px;
         width:230px;
         height:20px;
         font-size:14px;
         letter-spacing:1px;
         text-align:left;
      }
      #footer4
      {
         top:53px;
         left:340px;
         font-size:14px;
         font-weight:bold;
         text-align:left;
      }
      #footer4 p
      {
        font-size:20px;
      }
      pre
      {
          font-size:11px;
          line-height:18px;
      }
      #View
      {
        top:130px;
        font-size:15px;
        text-decoration:underline;
      }
      #footer5
      {
        top:53px;
        left:580px;
        width:300px;
        height:190px;
        font-size:14px;
        text-align:left;
      }
      #footerTitle
      {
          font-size:20px;
      }
      #content1
      {
        top:60px;
      }
      #content2
      {
        top:85px;
      }
      #content3
      {
        top:110px;
      }
      #content4
      {
        top:135px;
       }
      .href{
        text-decoration:underline;
         line-height:0px;
      }
	  .href:hover
	  {
		color:darkred;
	  }
      #footerSign
      {
          top:110px;
          left:900px;
          width: 20px;
          height:20px;
      }
      #footerSign1
      {
          top:0px;
          left:6px;
          width: 8px;
          height:8px;
          border:2px solid white;
          border-left:0;
          border-bottom:0;
          transform:rotate(-45deg);
      }
      #footerSign2
      {
          top:0px;
          left:0px;
          width:10px;
          height:12px;
          border:2px solid white;
          border-left:0;
          border-bottom:0;
          border-top:0;
      }
	  #addr
	  {    letter-spacing:-3px;
		  line-height:20px;
		  font-size:8px;
	  }
	  .hoverBlue:hover
	  {
		  color:darkred;
      }