*{margin: 0}
div{
    border: 1px red  ;
}
body{
    cursor: url(../images/cursor.png),
    url(../images/cursor.png), default;
}

#main{
    width: 1200px;
    height: 2630px;
    background-image: url("../images/careers-bg.jpg");
    background-size: cover;
    margin: 0 auto;

}
a:link{color:#ffffff}
#header{
    top: 0;
    width: 1200px;
    height: 50px;
    position: fixed;
    z-index: 2;
    opacity: 0.5;
    background-color: rgb(244,244,245);
    color: #000000;
    line-height: 50px;
}
#banner{
    width: 1200px;
    height: 600px;
    top: 0;
    background-image: url("../images/Headers_careers2.jpg");
    background-size: cover;
    position: absolute;
}
.page-title{
    width: 1000px;
    height: 200px;
    left: 80px;
    top: 330px;
    position: absolute;
}
#major{
    width: 1200px;
    height: 2030px;
    top: 602px;
    position: absolute;
}
#top-text{
    width: 280px;
    height: 530px;
    top: 50px;
    left: 50px;
    box-shadow: 40px 3px 30px grey;
    position: absolute;
}
#top-sit{
    width: 850px;
    height: 1200px;
    top: 50px;
    left: 350px;
    position: absolute;
}
#pic{
    width: 1125px;
    height: 524px;
    left: 75px;
    margin-top: 1259px;
    position: absolute;
}

.staffer{
    width: 372px;
    height: 524px;

    float: left;
}
.inner{
    width: 236px;
    height: 470px;
    margin:20px auto;
    font-family: omnes-pro,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
p{
    font-style: italic;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px
}
#footer{
    width: 950px;
    height: 250px;
    margin-top: 1786px;
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
}
#clunm1{
    width: 250px;
    height: 250px;
    margin-left: 80px;
    float: left;
}
#clunm2{
    width: 200px;
    height: 250px;
    left: 330px;
    float: left;

}
#clunm3{
    width: 370px;
    height: 250px;
    left: 700px;
    float: left;
}
#footer-inner4{
    margin-top: 100px;
}

#footer-inner4 a:visited{
    text-decoration: none;
    color: #ffffff;
}
#footer-inner4 a:hover{
    text-decoration: none;
    color: #20faff;
}