*{margin: 0px;}
div{
    border: 1px red ;
}
body{
    cursor: url(../images/cursor.png),
    url(../images/cursor.png), default;
 }

#main{
    width: 1200px;
    margin: 0 auto;
}
a
{
	text-decoration:none;
}
a:link{color:#ffffff}
#header{
    margin: 0px;
    width: 1200px;
    height: 50px;
    position: fixed;
    z-index: 1;
    opacity: 0.5;
    background-color: rgb(244,244,245);
    color: #000000;
    line-height: 50px;
}
#logo{
    height: 40px;
    width: 100px;
    left: 50px;
    top: 3px;
    z-index: 4;
    position: absolute;
}
#meun{
    position: absolute;
    width: 45px;
    height: 35px;
    background-color: #808080;
    margin-left: 1100px;
    margin-top: 5px;
}

#banner{
    width: 1200px;
    height: 600px;
    background-image: url("../images/BlogHeader2_CS6.png");
    background-size: cover;
    position: absolute;
}
.page-title{
    width: 1110px;
    height: 420px;
    left: 90px;
    top: 80px;
    position: absolute;
}
.page-name{
    font-size: 16px;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: yellow;
    width: 60px;
    height: 25px;
    left: 92px;
    top: 50px;
    position: absolute;
}
#page-jia{
    width: 1100px;
    height: 20px;
    left: 90px;
    top: 510px;
    color: #fff;
    position: absolute;
}
#major{
    width: 1200px;
    height: 4425px;
    top: 602px;
    position: absolute;
}
#topic{
    width: 175px;
    height: 265px;
    margin-left: 125px;
    margin-top: 140px;
    position: absolute;
}
#picture{
    width: 175px;
    height: 175px;
    top: 0;
    left: 0;
    background-image: url("../images/czapata.jpg");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
}
#pic_1{
    margin-top: 185px;
    text-align: center;
}

#brich{
    width:670px ;
    height: 4242px;
    margin-left: 390px;
    margin-top:140px;
    position: absolute;

}
p{
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(48, 47, 47);
    font-size:16px;
    font: inherit;
    vertical-align: baseline;
    font-family: omnes-pro, sans-serif;
}
#footer{
    width: 950px;
    height: 250px;
    top: 5029px;
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
}
#footer2
      {
       width:140px;
       height:20px;
       font-size:22px;
       font-weight:bold;
       letter-spacing:10px;
       }
       #footer2 div
       {position:absolute;
        width:30px;
        height:28px;
        background-image: url("../images/icon.gif");
        background-size: 120px 28px;
        background-repeat:no-repeat;
       }
       #icon1
       {
         left:80px;
         background-size: 100%;
         background-position:0%;
       }
       #icon2
       {
         left:110px;
         background-position:31%;
       }
       #icon3
       {
         left:140px;
         background-position:62%;
       }
      #icon4
      {
         left:170px;
         background-position:93%;
      }
#clunm1{
    width: 250px;
    height: 250px;
    margin-left: 80px;
    float: left;
}
#clunm2{
    width: 200px;
    height: 250px;
    left: 330px;
    float: left;

}
#clunm3{
    width: 370px;
    height: 250px;
    left: 700px;
    float: left;
}
#footer-inner4{
    margin-top: 120px;
}

#footer-inner4 a:visited{
    text-decoration: none;
    color: #ffffff;
}
#footer-inner4 a:hover{
    text-decoration: none;
    color: #20faff;
}
.cik:hover,.cik:active{
    color: #ff4500;
}