*{margin: 0}
div{
    border: 1px red  ;
}
body{
    cursor: url(../images/cursor.png),
    url(../images/cursor.png), default;
}

#main{
    width: 1200px;
    height: 2630px;
    background-image: url("../images/careers-bg.jpg");
    background-size: cover;
    margin: 0 auto;
}
#header{
    top: 0;
    width: 1200px;
    height: 50px;
    position: fixed;
    z-index: 2;
    opacity: 0.5;
    background-color: rgb(244,244,245);
    color: #000000;
    line-height: 50px;
}
#banner{
    width: 1200px;
    height: 600px;
    top: 0;
    background-image: url("../images/Headers_careers2.jpg");
    background-size: cover;
    position: absolute;
}
#logo{
    height: 40px;
    width: 100px;
    left: 50px;
    top: 3px;
    z-index: 4;
    position: absolute;
}
#meun{
    position: absolute;
    width: 45px;
    height: 35px;
    background-color: #808080;
    margin-left: 1100px;
    margin-top: 5px;
}
#name{
    font-size: 16px;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: #ff4500;
    width: 60px;
    height: 25px;
    left: 92px;
    top: 300px;
    position: absolute;
}
.page-title{
    width: 1000px;
    height: 200px;
    left: 80px;
    top: 330px;
    position: absolute;
}
#jia{
    width: 1100px;
    height: 20px;
    left: 85px;
    top: 540px;
    color: #fff;
    position: absolute;
}
#major{
    width: 1200px;
    height: 2030px;
    top: 602px;
    position: absolute;
}
#top-text{
    width: 280px;
    height: 530px;
    top: 50px;
    left: 50px;
    box-shadow: 40px 40px 50px grey;
    position: absolute;
}
#top-sit{
    width: 850px;
    height: 1200px;
    top: 50px;
    left: 350px;
    position: absolute;
}
#pic{
    width: 1125px;
    height: 524px;
    left: 75px;
    margin-top: 1259px;
    position: absolute;
}

.staffer{
    width: 372px;
    height: 524px;

    float: left;
}
.inner{
    width: 236px;
    height: 470px;
    margin:20px auto;
    font-family: omnes-pro,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
p{
    font-style: italic;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px
}
#footer{
    width: 950px;
    height: 250px;
    margin-top: 1786px;
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
}
#footer
{
    position: absolute;
    margin-top: 1786px;
    width: 950px;
    height:250px;
    background:black;
    z-index:1;
}
     #footer div
     {
       position:absolute;
       color:white;
     }
     #footer1
     {
       top:70px;
       left:90px;
       font-size:22px;
       font-weight:bold;
       letter-spacing:10px;
     }
      #footer2
      {
       top:110px;
       left:88px;
       width:124px;
       height:20px;
       font-size:22px;
       font-weight:bold;
       letter-spacing:10px;
       }
       #footer2 div
       {
        width:30px;
        height:28px;
        background-image: url("../images/icon.gif");
        background-size: 120px 28px;
        background-repeat:no-repeat;
       }
       #icon1
       {
         left:0px;
         background-size: 100%;
         background-position:0%;
       }
       #icon2
       {
         left:31px;
         background-position:31%;
       }
       #icon3
       {
         left:62px;
         background-position:62%;
       }
      #icon4
      {
         left:93px;
         background-position:93%;
      }
      #footer3
      {
         top:182px;
         left:88px;
         width:230px;
         height:20px;
         font-size:14px;
         letter-spacing:1px;
         text-align:left;
      }
      #footer4
      {
         top:53px;
         left:340px;
         font-size:14px;
         font-weight:bold;
         text-align:left;
      }
      #footer4 p
      {
        font-size:20px;
      }
      pre
      {
          font-size:11px;
          line-height:18px;
      }
      #View
      {
        top:130px;
        font-size:15px;
        text-decoration:underline;
      }
      #footer5
      {
        top:53px;
        left:580px;
        width:300px;
        height:190px;
        font-size:14px;
        text-align:left;
      }
      #footerTitle
      {
          font-size:20px;
      }
      #content1
      {
        top:60px;
      }
      #content2
      {
        top:85px;
      }
      #content3
      {
        top:110px;
      }
      #content4
      {
        top:135px;
       }
      .href{
        text-decoration:underline;
         line-height:0px;
      }
	  .href:hover
	  {
		color:orange;
	  }
      #footerSign
      {
          top:110px;
          left:900px;
          width: 20px;
          height:20px;
      }
      #footerSign1
      {
          top:0px;
          left:6px;
          width: 8px;
          height:8px;
          border:2px solid white;
          border-left:0;
          border-bottom:0;
          transform:rotate(-45deg);
      }
      #footerSign2
      {
          top:0px;
          left:0px;
          width:10px;
          height:12px;
          border:2px solid white;
          border-left:0;
          border-bottom:0;
          border-top:0;
      }
	  #addr
	  {    letter-spacing:-3px;
		  line-height:20px;
		  font-size:8px;
	  }
	  a{
		  text-decoration:none;
		  color:white;
	  }
	  .hoverOrange:hover
	  {
		  color:orange;
	  }
.clik:hover{
     color: #ff4500;
 }
