#main{
    width: 1200px;
    margin: auto;
    background-image:url("../images/bg-pattern.gif");
}
#header{
    width: 1200px;
    height: 50px;
    background-color: silver;
    position: fixed;
    opacity: 0.5;
    z-index: 100;
}
#btn_0{
    height: 50px;
    border: none;
    background-color: silver;
}
#banner{
    width: 1200px;
    height: 590px;
    border: 1px salmon;
    overflow: hidden;

}
#myImage{
    width: 2400px;
    height: 590px;
}
.img{
    width: 1200px;
    height: 590px;
    display: inline-block;
    background-size: 100%;
}
#img_2{
    background-image: url("../images/Header-1.jpg");
}
#top_text{
    width: 660px;
    height: 200px;
    margin: auto;
    text-align:center
}
#img_3{
    width: 100%;
    height: 10px;
}
#gridwrap{
    width: 1200px;
    height: 1000px;
    position: relative;
}
#inner1{
     width: 600px;
     height: 350px;
     top: 0px;
     left: 0px;
     background-image: url(../images/work-thumb-landscape.jpg);
     background-size: 100%;
 }
#outer1{
    width: 600px;
    height: 350px;
    overflow: hidden;
}
#inner2{
    width: 300px;
    height: 290px;
    top: 0px;
    left: 600px;
    background-image: url(../images/grid02.jpg);
    background-size: 100%;
}
#outer2{
    width: 300px;
    height: 290px;
    overflow: hidden;
}
#inner3{
    width: 300px;
    height: 350px;
    top: 0px;
    left: 900px;
    background-image: url(../images/THUMB_JFK_Ret_2.jpg);
    background-size: 100%;
}
#outer3{
    width: 300px;
    height: 350px;
    overflow: hidden;
}
#inner4{
    width: 600px;
    height: 350px;
    top: 300px;
    left: 0px;
    background-image: url(../images/thumbnail_IGK-1.jpg);
    background-size: 100%;
}
#outer4{
    width: 600px;
    height: 350px;
    overflow: hidden;
}
#inner5{
    width: 300px;
    height: 290px;
    top: 300px;
    left: 600px;
    background-image: url(../images/THUMB_3.jpg);
    background-size: 100%;
}
#outer5{
    width: 300px;
    height: 290px;
    overflow: hidden;
}
#inner6{
    width: 300px;
    height: 350px;
    top: 300px;
    left: 900px;
    background-image: url(../images/THUMB_neaq_ret.jpg);
    background-size: 100%;
}
#outer6{
    width: 300px;
    height: 350px;
    overflow: hidden;
}
#inner7{
    width: 600px;
    height: 350px;
    top: 600px;
    left: 0px;
    background-image: url(../images/thumbnail.jpg);
    background-size: 100%;
}
#outer7{
    width: 600px;
    height: 350px;
    overflow: hidden;
}
#top_img{
    width: 1200px;
    height: 200px;
    background-image: url("../images/1-3.png");
    margin: auto;
    text-align:center;
    overflow:hidden;
}
.textcolor{
    color: white;
}
#inner8{
    width: 300px;
    height: 350px;
    top: 600px;
    left: 600px;
    background-image: url(../images/2-1.jpg);
    background-size: 100%;
}
#outer8{
    width: 300px;
    height: 350px;
    overflow: hidden;
}

#inner9{
    width: 300px;
    height: 350px;
    top: 600px;
    left: 900px;
    background-image: url(../images/THUMB_JFK_Ret_2.jpg);
    background-size: 100%;
}
#outer9{
    width: 300px;
    height: 350px;
    overflow: hidden;
}
.gridItem{
    position: absolute;
    transition: all 2s;
}
.gridItem:hover{
    transform: scale(1.05,1.05);
}

#footer{
    width: 1340PX;
    height: 254PX;
    position: relative;

}

.footer-1{
    width: 70px;
    height: 250px;
    top:0px;
    left: 0px;
    background-color: #181719;
    color: #fff;
    position: absolute;
}
.footer-2{
    width: 250px;
    height: 250px;
    top:0px;
    left: 70px;
    background-color: #181719;
    color: #fff;
    position: absolute;
    text-align: center;
}
.footer-2-1{
    margin-top: 40px;
    margin-left: -60px;
}
.footer-2-1 img{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.footer-2-2{
    margin-top: 60px;
    font-size: 12px;
}
.footer-2-2-f{
    margin-top: 50px;
    margin-bottom: -40px;
    margin-left: -60px;
}
.footer-3{
    width: 200px;
    height: 250px;
    left: 320px;
    top: 0px;
    background-color: #181719;
    color: #fff;
    position: absolute;
}
.footer-3-3{
    margin-top: 60px;
}
.footer-3-3 a:link{
    text-decoration: none;
    color:white;
}
.footer-3-3 a:hover{
    color: #55f7b4;
}
.footer-4{
    width: 370px;
    height: 250px;
    left: 520px;
    top: 0px;
    background-color: #181719;
    color: #fff;
    position: absolute;
}
.footer-4-4 a:link{
    text-decoration:none;
    color: white;
}
.footer-4-4 a:hover{
    color: #55F7B4;
}
.label{
    width: 20%;
}
.footer-a{
    width: 80%;
    float: right;
    margin-top: -20px;
}

.footer-b{
    width: 20%;
}
.footer-c{
    width: 80%;
    float: right;
    margin-top: -20px;
    margin-left: -80px;
}
.footer-d{
    width: 20%;

}
.footer-e{
    width: 80%;
    float: right;
    margin-top: -20px;
    margin-left: -80px;
}
.footer-4-4{
    margin-top: 60px;
}
.footer-5{
    width: 70px;
    height:250px;
    left: 890px;
    top: 0px;
    background-color: #181719;
    color: #fff;
    position: absolute;
    text-align: center;
    margin: 0 auto;
}
#img_4{
    position: absolute;
    bottom:50%;
}